[submodule ".registry"]
	path = .registry
	url = https://github.com/sharp-api/sharp-api.r-universe.dev
	branch = HEAD
[submodule "sharpapi"]
	path = sharpapi
	url = https://github.com/Sharp-API/SharpAPI-R
